<div class="container mt-4 p-4 shadow">
    <!-- <div id="projectsDiv" class="container mt-4 p-4 shadow"></div> -->
    <div class="container">
        <div class="row">
          <div class="col-lg-12 content">
            <h1>Próximamente</h1>
            <p>¡Estoy trabajando en nuevos proyectos! ¡Vuelve pronto para conocer más!</p>
          </div>
        </div>
      </div>
</div>
<script>
    $(document).ready(async function () {
        var projects = [];
        await $.getJSON('/public/files/Projects.json', function (data) {
            $.each(data, function (index, project) {
                var data = {
                    title: project.title,
                    description: project.description,
                    technologies: project.technologies,
                    image: project.image,
                    link: project.link
                };
                projects.push(data);
            });
        });
        var projectsQuantity = projects.length;
        var a = 0;
        for (let index = 0; index < projectsQuantity; index++) {
            if (index == 0 || index % 3 == 0) {
                a += 1;
                var content = `
                    <div id="card-${a}" class="card-group"><div>
                `;
                $('#projectsDiv').append(content);
            };
            var content = `
            <div class="card">
                <img src="${projects[index].image}" class="card-img-top p-2">
                <div class="card-body">
                  <h5 class="card-title">${projects[index].title}</h5>
                  <p class="card-text">${projects[index].description}</p>
                  <a href="${projects[index].link}" target="_blanck">
                    <button type="button" class="btn btn-dark">Visualizar</button>
                  </a>
                </div>
                <div id="icons-${index}" class="row card-footer"></div>
            </div>`;
            $('#card-' + a).append(content);
            projects[index].technologies.forEach(element => {
                $('#icons-' + index).append(`<img class="col-md" src="/public/img/languages/${element}.svg" style="max-height: 30px;"/>`);
            });
        };
    });
</script>